/*font add*/

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.bg-color{
  background-color:rgb(232, 242, 245);
}
/*banner font*/

.noto-serif-banner-title,.product-title{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

/* navbar design*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    font-family:sans-serif;
}
.logo img{
    height: 60px;
}
.nav-links{
    display: flex;
    justify-content: center;

}
.nav-link{
    list-style: none; 
    display: flex;
    gap: 50px;
}
.nav-link a{
    text-decoration: none;
    color:#8987A1;
}
.nav-link a.active{
    color: black;
    font-weight: bold;
}
/*responsive nav*/
@media (max-width: 576px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

    .logo img {
        height: 45px;
    }

    .nav-links {
        display: flex;
        justify-content: flex-end;
        width: auto;
    }

    .nav-link {
        display: flex;
        gap: 0;
    }

    /* Hide all links except Cart */
    .nav-link li:not(:last-child) {
        display: none;
    }

    .nav-link li:last-child a {
        font-size: 16px;
        color: black;
        font-weight: bold;
    }
}  

/* end navbar*/ 

/*main section*/
/*banner*/
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 150px;
    margin-top: 120px;
}
.banner-title{
    font-size: 55px;
    margin-bottom: 0;
}
.banner-description{
    color: #5851518d;
    font-size: 22px;
    margin-top: 10px;
}
.banner-img{
    width: 570px;
    height: 355px;
}
/* plant section*/

.product-details{
    text-align: center;
    padding: 30px 150px;
}
.product-title{
    font-size: 50px;
    margin-bottom: 0;
}
.product-description{
    font-size: 22px;
    color: #848992;
}
/* card*/
.card-container{
    margin-bottom: 180px;
    padding: 30px 150px;
}
.product-cards{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
.product-card{
    text-align: center;
}
/* card */

.card-description{
    color: #111111;
    font-size: 22px;
    font-weight: medium;
    margin-top: 0;
}
.product-price{
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
}
.add-to-cart-btn{
    
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 20px 90px;
    align-items: center;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 20px;
}
/* badge design*/
.badge-container{
    padding: 30px 150px;
}
.store-container{
    display: flex;
    gap: 40px; 
}
.store-image{
    width: 540px;
    height: auto;  
}
.store-title{
    font-size: 50px;
    font-weight: bold;
    text-align: left;
}
.store-description{
    font-size: 22px;
    color: #abb2b2db;
}
.store-description li{
    margin-bottom: 20px;
}
/* offer section*/
.offer{
    margin-top: 133px;
}
.deal-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}
.deal-description{
    font-size: 22px;
    text-align: center;
    color: #848992;
    margin-top: 5;
    padding: 5px 275px 70px;
}/* image */
.offers-section {
  display: flex;
  gap: 20px;
  padding: 30px 150px;
  
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.offer-card,
.right-column {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  
}

.offer-card {
  width: 400px;
  height: 240px;
  background-size: cover;
  background-position: center;
  
}

.right-column {
  width: 600px;
  height: 300px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.offer-item {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.offer-item h3 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.offer-item a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  bottom: 50px;
  left: 50px; 
}
.bloom {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/deal-bloom.png");
}

.ana {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/deal-ana.png");
}

.zabo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/deal-zabo.png");
  width: 75%;
  height: auto;
}
/* subscribe part */
.subscribe{
  background-image: url('assets/news-letter-bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.sub-text h2 {
    color: antiquewhite;
    font-size: 32px;
    margin-bottom: 20px;

}

.user-data {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.user-data input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 12px;
}

.user-data button {
  padding: 8px 10px;
  background-color: #f15025;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
}
/* footer design */
.footer{
    margin-top: 0;
    padding: 80px;
}
/* ai*/
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin: auto;
}

.footer-left {
  max-width: 250px;
}

.footer-left img .logo {
  height: 50px;
  margin-bottom: 10px;
}

.footer-left p {
  color: #777;
  font-size: 17px;
}

.footer-links {
  display: flex;
  gap:120px;
}

.footer-links ul {
  list-style: none;
  padding: 10px;
}

.footer-links ul li {
  color: #8b8a8a;
  margin-bottom: 10px;
  font-size: 15px;
}
.footer-icons a img {
  width: 28px;
  margin-top: 15px;
  margin-left: 12px;
  vertical-align: middle;
}
