/*font add*/

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*banner font*/

.noto-serif-banner-title,.product-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

/* navbar design*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    font-family:sans-serif;
}
.logo img{
    height: 60px;
}
.nav-links{
    display: flex;
    justify-content: center;

}
.nav-link{
    list-style: none; 
    display: flex;
    gap: 50px;
}
.nav-link a{
    text-decoration: none;
    color:#8987A1;
}
.nav-link a.active{
    color: black;
    font-weight: bold;
}
/* end navbar*/ 

/*main section*/
/*banner*/
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 150px;
    margin-top: 120px;
}
.banner-title{
    font-size: 55px;
    margin-bottom: 0;
}
.banner-descrption{
    color: #5851518d;
    font-size: 22px;
    margin-top: 10px;
}
.banner-img{
    width: 570px;
    height: 355px;
}
/* plant section*/

.product-details{
    text-align: center;
    padding: 30px 150px;
}
.product-title{
    font-size: 50px;
    margin-bottom: 0;
}
.product-description{
    font-size: 22px;
    color: #848992;
}
/* card*/
.card-container{
    padding: 30px 150px;
}
.product-cards{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}
.product-card{
    text-align: center;
}
/* card */

.card-description{
    color: #111111;
    font-size: 22px;
    font-weight: medium;
    margin-top: 0;
}
.product-price{
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
}
.add-to-cart-btn{
    
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 20px 90px;
    align-items: center;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 20px;
}
